.Main
 background: lime
 width: 100%
 height: 100vh
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr auto
.containerMain
 display: grid
 grid-template-columns: repeat(12,1fr )
 grid-template-rows: repeat(12, 1fr )













.containerFooter
 display: grid
 justify-items: center
 background: #000
 width: 100%
 p
  color: #fff
  text-align: center
 a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
   text-decoration: underline





